@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

body {
  margin: 0;
  padding: 0;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  background-color: white;
  color: #28352f;
  align-items: center;
}

.header-nav-expand {
  flex-direction: column-reverse;
  height: 100vh;
}

.mobile-menu {
  background-image: url(img/Overlay.png);
  height: 100%;
  width: 100%;
  z-index: 9;
  position: fixed;
  background-repeat: no-repeat;
}

.mobile-menu > ul {
  margin-top: -10px;
  list-style-type: none;
}

.mobile-menu-items > li > a {
  color: #3a4a42;
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
  text-decoration: none;
  font-family: "Inter", sans-serif;
}

.menu-cross {
  margin-top: 8px;
  margin-right: 55px;
  display: flex;
  justify-content: flex-end;
}

ul li {
  list-style: none;
}

.mobile-menu-items > li {
  padding: 10px 10px;
}

.logo {
  padding-left: 20px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
}

.logo-invisible {
  display: none;
}

.navbar-links {
  display: none;
}

.navbar-links-visible {
  display: block;
}

.humberger {
  padding-right: 20px;
  float: right;
}

.bar {
  width: 25px;
  height: 3px;
  margin: 5px;
  background-color: #28352f;
  display: block;
}

.welcome {
  background-color: white;
  color: #28352f;
  background-image: url(img/header-illsutration-mobile.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 590px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.hello {
  color: #172b4d;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  margin-top: 60px;
}

.detail {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  color: #36b37f;
}

.intro {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #172b4d;
  margin: 45px 10px;
}

.icon-links {
  display: flex;
  list-style: none;
  align-items: center;
  margin-right: 45px;
  margin-top: 35px;
}

.icons {
  margin: 10px;
  width: 30px;
  height: 23px;
}

.arrow {
  outline: none;
  border: none;
  background: none;
}

.work h2 {
  text-align: center;
  margin: 0 1em 0;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  color: #172b4d;
}

.work .container {
  display: grid;
  grid-template-columns: auto auto;
  border: 1px solid #d0d9d4;
  background-color: #d0d9d4;
  margin: 1.5em;
  border-radius: 0.5em;
}

.work .container .sub-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 20em;
  border: none;
  border-radius: 0.5em;
  background-color: white;
}

.about-me {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.container-form h3 {
  margin-top: -0.5em;
  margin-bottom: 10em;
  font-weight: normal;
  font-size: 1.3em;
  color: #42526e;
  text-align: center;
}

.about-me .container-about h3 {
  font-size: 1.5em;
  text-align: center;
  font-family: "Inter", sans-serif;
}

.work .container .sub-container h3 {
  color: #3a4a42;
  font-size: 1.5em;
  margin: 0.5em 2em 0.5em;
  font-family: "Inter", sans-serif;
}

.about-me .container-about ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 1.25em 0.625em;
  margin: 0 auto;
  max-width: 21.875em;
  gap: 0.5em;
  list-style-type: none;
}

.about-me .container-about ul li {
  border: none;
  background-color: white;
  color: #36b37e;
  margin-bottom: 0.5em;
  padding: 0.5em 1em;
  border-radius: 0.5em;
  font-size: small;
  font-weight: normal;
  font-family: "Inter", sans-serif;
}

.work .container .sub-container ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 1.25em 0.625em;
  margin: 0 auto;
  max-width: 21.875em;
  gap: 0.5em;
  list-style-type: none;
}

.work .container .sub-container ul li {
  border: none;
  background-color: #ebf0ee;
  color: #3a4a42;
  padding: 0.5em;
  border-radius: 0.5em;
  font-size: small;
  font-weight: normal;
  font-family: "Inter", sans-serif;
}

.about-me button {
  border: none;
  background-color: #36b37e;
  width: 150px;
  height: 50px;
  color: white;
  display: block;
  text-align: center;
  margin: 1.6em auto;
  border-radius: 0.5em;
  cursor: pointer;
  font-family: "Inter", sans-serif;
}

.main-conrainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.container-form button {
  border: none;
  padding: 1em;
  color: white;
  background-color: #36b37e;
  border-radius: 0.5em;
  cursor: pointer;
  width: 8em;
  margin-bottom: 2em;
}

button:active {
  background: #008552;
  color: #fff;
  box-shadow: 1px 6px 12px rgba(0, 0, 0, 0.2);
}

button:hover {
  background: #008552;
  color: #fff;
  box-shadow: 1px 6px 12px rgba(0, 0, 0, 0.2);
  border: 1px solid #fff;
}

.container-form button:hover {
  color: white;
  background-color: #23dd90;
}

.work .container .sub-container button {
  border: none;
  background-color: #36b37e;
  width: 100px;
  height: 45px;
  color: white;
  text-align: center;
  margin: 1.4em auto;
  border-radius: 0.5em;
}

.about-me h2 {
  font-size: 3em;
  text-align: center;
  font-family: "Inter", sans-serif;
  color: #172b4d;
}

.about-me p {
  margin: 0 4.7em 0;
  text-align: center;
  font-family: "Inter", sans-serif;
  color: #172b4d;
}

.about-me .container-about {
  margin: 2em 1.6em;
  background-color: #ebf0ee;
  border-radius: 0.5em;
  height: 350px;
  width: 325px;
}

.socials {
  background-image: url("./img/contact-form-bg2.jpg");
  background-repeat: no-repeat;
  background-position: top right;
  background-size: contain;
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0 24px;
}

.container-form p {
  margin: 2em 1em 2em;
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  color: #172b4d;
  font-family: "Inter", sans-serif;
}

.sub-container-form form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  margin: 0 auto;
  list-style: none;
  width: 20.44em;
}

.container-form #Full-name {
  border: 1px solid #d0d9d4;
  width: 20.43em;
  margin-top: 0;
  padding: 1em;
  border-radius: 0.5em;
  margin-bottom: 1em;
}

.container-form input[type=email] {
  border: 1px solid #d0d9d4;
  width: 20.43em;
  padding: 1em;
  border-radius: 0.5em;
  margin-bottom: 1em;
}

.container-form textarea {
  border: 1px solid #d0d9d4;
  width: 20.43em;
  padding: 1em;
  border-radius: 0.5em;
  margin-bottom: 1em;
}

.form-img {
  position: relative;
}

.email1 {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  text-align: center;
  color: #172b4d;
}

.bottom-line1 {
  width: 134px;
  height: 5px;
  background: #0d151e;
  border-radius: 10px;
  margin: auto;
  margin-top: 114px;
}

.container-form {
  background-image: url(img/contact-form-bg2.jpg);
  background-repeat: no-repeat;
  background-position: bottom right;
}

@media (min-width: 992px) {
  .logo,
  .humberger {
    display: none;
  }

  .navbar-links {
    display: block;
    margin-left: 500px;
    position: fixed;
    margin-top: 50px;
  }

  .navbar-links ul {
    display: flex;
  }

  .navbar-links li {
    list-style: none;
  }

  .navbar-links li a {
    text-decoration: none;
    padding: 1rem;
    color: #172b4d;
    font-family: "Inter", sans-serif;
    font-weight: normal;
    font-weight: 500;
  }

  .welcome {
    background-image: url(img/Header-llustration-desktop.png);
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 30px;
  }

  #img1 {
    display: none;
  }

  .work {
    margin-top: 10em;
  }

  .main-conrainer {
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 0 auto;
    justify-content: center;
    align-content: center;
  }

  .about-me h2 {
    margin: 4em 0 0.5em;
  }

  .about-me {
    background-image: url(img/illustration\ about\ me\ desktop.png);
    background-repeat: no-repeat;
  }

  .about-me1 {
    background-image: url(img/illustration-about-me-2-desktop.png);
    background-repeat: no-repeat;
    background-position: bottom left;
  }

  .about-me .container-about {
    display: flex;
    flex-direction: column;
    margin: 1em;
    background-color: #ebf0ee;
    border-radius: 0.5em;
    width: 369px;
  }

  .main-conrainer .container {
    width: 369px;
    margin: 1em;
  }

  .main-container-about {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    margin: 0 8.87em;
  }

  .about-me p {
    margin: 2em 15em 0;
    text-align: center;
  }

  .about-me .container-about #img2 {
    margin-left: 20px;
  }

  .foot-container {
    display: flex;
    margin-top: 100px;
  }

  .input1 {
    display: flex;
  }

  .input-name {
    display: flex;
    justify-content: space-around;
  }

  .contact-form textarea {
    padding-right: 14px;
  }

  .email1 {
    display: none;
  }

  .container-form h3 {
    display: none;
  }

  .sub-container-form {
    display: grid;
    grid-template-columns: auto auto;
    margin-top: 10em;
    justify-content: center;
    position: relative;
    border-bottom: 2px solid #dfe1e6;
    background-image: url(img/Frame-1.png);
    background-repeat: no-repeat;
    background-position: left;
  }

  .sub-container-form form {
    display: grid;
    margin-right: 5em;
    list-style-type: none;
    width: 42em;
  }

  .sub-container-form p {
    margin-top: 1.2em;
    margin-left: 4em;
  }

  .sub-container-form #Full-name {
    width: 41.75em;
    border: 1px solid #d0d9d4;
    margin-bottom: 1em;
    padding: 1em;
    border-radius: 0.5em;
  }

  .container-form input[type=email] {
    width: 41.75em;
    border: 1px solid #d0d9d4;
    margin-bottom: 1em;
    padding: 1em;
    border-radius: 0.5em;
  }

  .container-form textarea {
    width: 41.75em;
    height: 7.125em;
    border: 1px solid #36b37e;
    margin-bottom: 1em;
    padding: 1em;
    border-radius: 0.5em;
  }

  .container-form button {
    width: 8em;
    margin-bottom: 10em;
    cursor: pointer;
  }

  .container-form button:hover {
    color: white;
    background-color: #008552;
  }

  .bottom-line1 {
    display: none;
  }

  .container-form {
    background-image: url(img/footer-img.png);
    background-repeat: no-repeat;
    background-position: right;
  }
}
