@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
.header-nav{
    display: flex;
    justify-content: space-between;
    background-color: white;
    color: #28352F;
    align-items: center;
}
.logo{
    padding-left: 20px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px
}
.humberger{
    padding-right: 20px;
}
.bar{
    width: 25px;
    height: 3px;
    margin: 5px;
    background-color: #28352F;
    display: block;
}
.welcome{
    background-color: white;
    color: #28352F;
    background-image: url(img/header-illsutration-mobile.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 590px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.hello{
color: #172B4D;
font-family: 'Inter', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 52px;
text-align: center;
margin-top: 60px;

}
.detail{
    font-family: 'Inter', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 52px;
text-align: center;
color: #36B37F;
}
.intro{
    font-family: 'Inter', sans-serif;
font-style: normal;
font-weight: 400px;
font-size: 20px;
line-height: 28px;
text-align: center;
color: #172B4D;
}
